<!-- Dashboard view -->
<!-- Header -->

<!-- <div class="navbar row ">
    <div class="col-10">
        <h1 class="" style="color: black;">HEALTH TRACKER</h1>
    </div>
    <div class="col-md-2">
        <a href="/users/logout" class="btn btn-primary">Logout</a>
    </div>
</div> -->
<nav class="navbar navbar-dark bg-dark" >
    <a class="navbar-brand" href="#">Health Tracker</a>
    <a href="/users/logout" class="btn btn-info">Logout</a>
</nav>

<!-- Habit Container -->
<div class="habit-container text-center">
    
    <form action="/user-view" method="POST" class="habit-header">
        <div class="btn-group mt-5 mb-4" aria-label="Change View">
            <% if(user.view === "daily"){ %>
            <button type="submit" class="btn btn-primary active" aria-pressed="true">Daily</button>
            <button type="submit" class="btn btn-primary">Weekly</button>
            <% } else { %>
            <button type="submit" class="btn btn-primary">Daily</button>
            <button type="submit" class="btn btn-primary active" aria-pressed="true">Weekly</button>
            <% } %>
        </div>
    </form>
    <div class="pop-up">

        <%- include ("./partials/messages") %>
    </div>
    <div class="habit " >
        <form action="/dashboard" method="POST" class="habit-header mb-4">
            <input type="text" name="content" required style="border: 1px solid black;">
            <button style="border: none; cursor: pointer;" type="submit" > <img style="width: 40px; height: 40px;" src="https://cdn-icons-png.flaticon.com/512/2040/2040525.png" alt="add"> </button>
        </form>
        <div class="icons">

            <i class="fas fa-check" ></i>
            <strong>
                : Done&emsp;&emsp;
            </strong>
            <i class="fas fa-times"></i>
            <strong>
                : Not Done&emsp;&emsp;
            </strong>
            <i class="fas fa-minus"></i>
            <strong>
                : None&emsp;&emsp;
            </strong>
        </div>
        
        <% if(user.view === "daily"){ %>
            <div class="container m-5">
                <div class="card">
                    <ul class=" list-group">
                        <% habits.forEach(details => { let tzoffset = (new Date()).getTimezoneOffset() * 60000, found=false, status='';
                            var today = (new Date(Date.now() - tzoffset)).toISOString().slice(0, 10);
                            details.dates.find(function (item, index) {
                                if(item.date === today)
                                {
                                    found = true;
                                    status = item.complete;
                                }
                            });
                            %>
                        <li class="list-group-item">
                            <a href="status-update/?id=<%= details._id %>&date=<%= today %>" class="status">
                                <div style="display: flex;">
                                    <% if(found && status==='yes'){ %>
                                        <i class="fas fa-check"></i>
                                        
                                        <% } else if(found && status==='no'){ %>
                                        <i class="fas fa-times"></i>
                                        <% } else { %>
                                        <i class="fas fa-minus"></i>
                                    <% } %>
                                </div>
                                
                            </a>
                            &emsp;
                            <h1 class="habit-list-item-name text-muted" style="text-align: center;"><%= details.content %></h1>
                            <a href="/favorite-habit/?id=<%= details._id %>" class="favorite">
                                <div style="display: flex;">
                                    <% if(details.favorite) { %>
                                        <i class="fas fa-star"></i>
                                        <% } else { %>
                                        <i class="far fa-star"></i>
                                        <% } %>
                                </div>
                            </a>
                            <a href="/remove/?id=<%= details._id %>" class="remove">
                                <div style="display: flex; float: right;">
                                    <!-- <i class="far fa-trash-alt"></i> -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/3221/3221897.png" alt="" style="width: 25px; height: 25px;" />
                                </div>
                                
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        
        <% } else { %>
            <div class="container m-5">
                <ul class="list-group">
                    <% habits.forEach(details => { %>
                    <li class="list-group-item">
                        <div class="details">
                            
                        </div>
                        <div class="mb-2"><%= details.content %></div>
                        
                        <a href="/favorite-habit/?id=<%= details._id %>" class="favorite">
                            <% if(details.favorite) { %>
                            <i class="fas fa-star"></i>
                            <% } else { %>
                            <i class="far fa-star"></i>
                            <% } %>
                        </a>
                        <a href="/remove/?id=<%= details._id %>" class="remove">
                           <img src="https://cdn-icons-png.flaticon.com/512/3221/3221897.png" alt="" style="width: 25px; height: 25px;" />
                        </a>
                        <% days.forEach(day => { let found = false, status = '';
                        details.dates.find(function (item, index) {
                            if(item.date === day.date)
                            {
                                found = true;
                                status = item.complete;
                            }
                        });
                        %>
                        <div class="dotw">
                            <div class="day mt-0"><span><%= day.day + ", " + day.date.slice(-2) %></span></div>
                            <a href="status-update/?id=<%= details._id %>&date=<%= day.date %>" class="status2 mt-4">
                                <% if(found && status==='yes'){ %>
                                <i class="fas fa-check"></i>
                                <% } else if(found && status==='no'){ %>
                                <i class="fas fa-times"></i>
                                <% } else { %>
                                <i class="fas fa-minus"></i>
                                <% } %>
                            </a>
                        </div>
                        <% }) %>
                    </li>
                    <% }) %>
                </ul>
            </div>
        
        <% } %>
    </div>
</div>